
.header{
        /* height: 80px; */
        background: blue;

    }
        /* .menu{
            background: #D9EDBF;
        }
            .logo{
                background: #90D26D;
            }
            .nav{
                background: #90D26D;
            }
            .redes{
                background: #90D26D;
            }
        .texto-principal{
            background:#e6a037 ;
        }   
            .texto-principal h1{
                background:#2C7865 ;
            } 
    .seccion{
        background: #000;
    }
        .articulos{
            background: #2C7865;
        }
            .mini_articulos{
                background:#F9F7C9 ;
            }
            .nav_articulos{
                background: #bfd2cd;
            }
        .aside{
            background: #80BCBD;
        }
            .publicidad{
                background: #eba742;
            }
    .foother{
        background: #000000;
    }
        .pie{
            background:#80BCBD ;
        } */